img {
  opacity: 0.9; /* Valor de 0 a 1 */
  filter: alpha(opacity=90); /* Soporte para IE8 y anteriores */
}

.organismosyestructuras{
   color:#ebe6e6; /* Color blanco*/
font-size:1em; /*Tamaño original*/ 
text-decoration: underline;
 background-color: #09143a; /* Color azul */
  padding: 5px 10px; /* Espacio alrededor del texto */
  border-radius: 4px; /* Bordes redondeados */
  box-shadow: 2px 2px 5px rgba(87, 28, 28, 0.2); /* Sombra opcional */
}


